/*Header navigation and splash */

.nav-splash {
    background: url('/images/background.png') rgba(0, 0, 0, .65);
    background-blend-mode: darken;
    position: relative;
    background-position: center center;
    background-size: cover;
    font-family: $font-header;
    color: $color-main;

    .navigation {
        padding: 25px ;
        letter-spacing: 4px;
        display: flex;
        justify-content: space-between;
        .logo {
            color: $color-light;
            p {
                position: relative;
                bottom: 20px;
                font-size:12px;
            }
        }
        .navi a {
            margin: 0 24px 0 0 ;
            font-size: 12px;
            letter-spacing: 3px;
            text-decoration: none;
            color: $color-main;
            font-weight: 500;
            &.active {
                font-weight: 900;
            }
        }
    }

    .splash {
        letter-spacing: 10px;

        .splash-inner {
            font-size: 24px;
            .page-title-main {
                display: none;
                &.active {
                    display: block;
                }
                
                &-one {
                    position: relative;
                    left: 15%;
                    width: 65%;
                }
    
                &-two {
                    position: relative;
                    left: 38%;
                    bottom: 40px;
                    width: 65%;
                    }
            }
        

            .page-title-main-two::after {
                position: absolute;
                content: '';
                bottom: -40px;
                left: 20%;
                width: 30%;
                height: 5px;
                transform: translateX(-50%);
                background: $color-main;
            }
        }
        .splash-discover {
            font-size: 22px;
            letter-spacing: 5px;
            color: $color-light; 
            display: flex;
            flex-direction: column;
            align-items: center;
            &-icone {
                position: relative;
                bottom: 20px;
            }
        }
    }
} 