/*Header navigation and splash */

.nav-splash {
    background: url('/images/background.png') rgba(0, 0, 0, .65);
    background-blend-mode: darken;
    position: relative;
    background-position: center center;
    background-size: cover;
    font-family: $font-header;
    color: $color-main;

    .navigation {
        padding: 12px 0;
        letter-spacing: 5px;
        display: flex;
        justify-content: space-between;
        .logo {
            color: $color-light;
            p {
                position: relative;
                bottom: 20px;
                font-size:12px;
            }
        }
        .navi a {
            margin: 0 24px 0 0 ;
            font-size: 12px;
            letter-spacing: 3px;
            text-decoration: none;
            color: $color-main;
            font-weight: 500;
            &.active {
                font-weight: 900;
            }
        }
    }

    .splash {
        letter-spacing: 10px;

        .splash-inner {
            font-size: 28px;

            .page-title-one {
                position: relative;
                left: 0px;
            }

            .page-title-two {
                left: 200px;
                bottom: 50px;
                position: relative;
               
            }
            .page-title-two::after {
                position: absolute;
                content: '';
                bottom: -24px;
                left: 200px;
                width: 180px;
                height: 5px;
                transform: translateX(-50%);
                background: $color-main;
            }
        }
        .splash-discover {
            font-size: 22px;
            letter-spacing: 5px;
            color: $color-light; 
            display: flex;
            flex-direction: column;
            align-items: center;
            &-icone {
                position: relative;
                bottom: 20px;
            }
        }
    }
} 