

.about-us {
    background: url('/images/about-us.jpg')  rgba(0, 0, 0, .65);
    background-blend-mode: darken;
    background-position: center center;
    background-size: cover;
    height: 450px;

    .about-header::after{
        position: absolute;
        content: '';
        width: 400px;
        height: 4px;
        top: 85px;        
        left: 36%;
        background: $color-main;
    }
    .about-us-inner {
        width: 28%;
        font-weight: 600;
        letter-spacing: 1.5px;
        color: $color-light;
        .about-us-story {
            text-align: left;
        }
        .about-us-inner-join{
            text-align: right;
        }
    }
    .home-slider {
        padding: 10px 50px;
        .main-carousel {
            margin-bottom: 120px;
            color: $color-light;
            padding: 10px 30px;

            .flickity-slider {
                padding: 0 20px;

                .carousel-cell {
                    width: 0%;
                }
                .caurousel-cell.is-selected  {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    .main-carousel-image {

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .main-carousel-text {
                        padding-left: 50px;
                        h4 {
                            font-size: 18px;
                            font-weight: 400;
                        }
                        span {
                            font-weight: 900;
                        }
                        p {
                            padding-right: 60px;
                        }
                    }
                }
            }
        }    
    }
}


