/*Media*/

@media (max-width: 757px) {
    .section-header {
        font-size: 22px;
    }
    .nav-splash {
        .navigation {
            .logo{
                h2 {
                    font-size: 16px;
                    letter-spacing: 4px;
                }
                p {
                    padding: 10px 0;
                    font-size: 9px;
                    letter-spacing: 3px;
                }
            }
            .navi {
                padding-top: 8px;
                text-align: right;
                display: flex;
                flex-direction: column;
                a {
                    padding: 7px;
                }
            }
        }
        .splash {
            .splash-inner {
            font-size: 16px;
            letter-spacing: 4px;
                .page-title-main {
                    &-one {
                        position: relative;
                        left: 5%;
                        width: 85%;
                    }
                    &-two {
                        bottom: 20px;
                        left: 15%;
                    }
                }
                .page-title-main-two::after {
                    bottom: -10px;
                    left: 40%;
                    width: 20%;
                    height: 3px;
                    transform: translateX(-50%);
                }
            }
            .splash-discover {
                h5 {
                    font-weight: 100;
                }
                font-size: 14px;
                letter-spacing: 4px;
            }

        }
    }

    .product-header::after{
        width: 65%;
        height: 3px;
        top: 60px;        
        left: 16%;
    }

    .product-component {
        &.active {  
            .product-row {
                .product-text{
                    padding-left: 2px;
                    &-title{
                        font-size: 16px;
                        letter-spacing: 3px;
                    }
                    &::after {
                        top: 70px;
                    }
                    &-description{
                        font-size: 10px;
                        left: 0px;
                        bottom: 0px;
                        width: 85%;
                    }
                    &-features{
                        font-size: 10px;
                    }
                }
                .product-image{
                    .price {
                        left: 88%;
                        top: 38px;
    
                        &-old {                 
                            font-size: 10px;
                            left: 85%;
                        }
                        &-new {         
    
                            font-size: 14px;
                        }
    
                    }
                }
            
            }
    
        }
    }
    .page-footer {
        text-align: center;
        font-size: 16px;
        background-color: $color-light;
        color: $color-dark;
    }
    

}

