/* Variables */

$color-dark: #000;
$color-light: #fff;
$color-main: #bea67c;


$font-header: 'Source Sans Pro';
$font-text: 'Source Sans Pro';

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

$transition: all .3s;
$radius: 4px;

$base-size: 12px;

